    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a href="#" ><i class="fa fa-plus" id="add-playlist"></i> Add new playlist</a>
        <form id="search-form"class="col-sm-2 col-xs-2">
            <div class="container col-sm-12 col-xs-12 input-group" id="search-container">
                <input type="search" class="col-sm-11 col-xs-11 form-control" id="find-input">
                <span class="input-group-addon">
                    <span class="fa fa-search"></span>    
                    <input type="submit" id="find" title="search">
                </span>
            </div>
        </form>
    </nav>
