{# <nav class="navbar navbar-light bg-light">
	<a href="#">
		<i class="fa fa-plus" id="add-playlist"></i>
		Add new playlist</a>
	<div class="col-sm-5" style="display:flex">
		<form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
	{# <form id="search-form" class="form-inline">
		
		
					<input type="search" class="form-control mr-sm-2" id="searchexampleFormControlInput1" placeholder="Search playlists">
		
					<button type="submit" class="btn btn-outline-success my-2 my-sm-0">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
		
		
			</form> #}

{#</nav> #}
<nav class="navbar navbar-light px-3">
    <button id="add-playlist" class="btn btn-link"><i class="fa fa-plus" id="add-playlist"></i> Add new playlist</button>

    <form id="search-form" class="d-flex ms-auto" role="search">
        <input id="search-input"
            class="form-control me-2"
            type="search"
            placeholder="Search playlists"
            aria-label="Search"
        >
        <button class="btn btn-orange" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</nav>
