<nav class="navbar navbar-light px-3">
    <button id="add-playlist" class="btn btn-link"><i class="fa fa-plus" id="add-playlist"></i> Add new playlist</button>

    <form id="search-form" class="d-flex ms-auto" role="search">
        <input id="search-input"
            class="form-control me-2"
            type="search"
            placeholder="Search playlists"
            aria-label="Search"
        >
        <button class="btn btn-orange" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</nav>
