@use "./base/variables";

@use "./partials/navbar";
@use "./partials/buttons";
@use "./partials/forms";
@use "./partials/disk";      
@use "./partials/dialogs";
@use "./partials/player";
@use "./partials/cards";

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

button,
input {
  &:focus,
  &:active {
    outline: none;
  }
}
