<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">

    <title>{{ title }}</title>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a href="#" ><i class="fa fa-plus" id="add-playlist"></i> Add new playlist</a>
        <form id="search-form"class="col-sm-2 col-xs-2">
            <div class="container col-sm-12 col-xs-12 input-group" id="search-container">
                <input type="search" class="col-sm-11 col-xs-11 form-control" id="find-input">
                <span class="input-group-addon">
                    <span class="fa fa-search"></span>    
                    <input type="submit" id="find" title="search">
                </span>
            </div>
        </form>
    </nav>
    <div id= "main-container"></div>
    <script src="js/main.js"></script>
    {# // <script src="js/main.js"></script>
    // <script src="js/jquery.lettering.js"></script>
    // <script src="js/modals.js"></script>
    // <script src="js/player.js"></script>
    // <script src="js/utils.js"></script>
    // <script src="js/validators.js"></script> #}
    {# <!--<script src="js/models/playlistmanager.js"></script>--> #}
</body>
</html>
