@use "../base/variables";

#player-container {
    margin-top: 8px;

    .album-cover {
        position: relative;
        display: inline-block;
        width: 200px;
        height: 200px;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block;
    }

    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 48px;
        height: 48px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0;
        margin: 0;
    }

    ol {
        padding: 0% 50px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;

        li {
            height: 24px;
            position: initial;
        }
    }

    .list-playing {
        position: absolute;
        left: 0px;
        padding-top: 6px;
        font-size: 14px;
        font-weight: 600;
    }

    .audio-wrapper {
        border-radius: 300px !important;
        overflow: hidden;
        height: 54px;
        border-radius: 300px;
        background-color: #e3e3e3;
        width: 450px;
        padding: 0 20px;

        &>.row {
            vertical-align: middle;
            height: 30px;
            margin-top: 12px;
        }

        .col {
            padding: 0;
        }

        .col:first-child {
            max-width: 48px;
        }

        .col:nth-child(3) {
            max-width: 100px;
        }

        #tracker {
            width: 150px;
        }

        #vol {
            width: 60px;
        }

        span {
            font-size: 12px;
        }

        .slider {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &::-webkit-slider-runnable-track {
                background: variables.$active-orange;
                height: 8px;
                border-radius: 4px;

            }

            &::-moz-range-track {
                background: variables.$active-orange;
                height: 8px;
                border-radius: 4px;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                background: variables.$primary-orange;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                margin-top: -6px;
                transition: background 0.15s ease-in-out;
            }

            &::-moz-range-thumb {
                border: none;
                background: variables.$primary-orange;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                transition: background 0.15s ease-in-out;
            }

            &:hover::-webkit-slider-thumb {
                background: variables.$hover-orange;
            }

            &:hover::-moz-range-thumb {
                background: variables.$hover-orange;
            }
        }
    }
}





.rotation {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
