#side-buttons{
    position: absolute;
    width:74px;
    right: 0;
    height: 100px;
    width:50px;
    top:68px;
    transform: translateX(50px);
    .btn-orange{
        margin-top: 20px;
        border-radius:50%;

    }
}
