<div class="row">
    <div class="col-sm-7">
        <div class="input-group">
            <label  class = "input-group-addon">Song URL:</label>
            <input type = "text" spellcheck="false" autocomplete="off" placeholder = "Song URL" class = "form-control" />
        </div>
    </div>
    <div class = "col-sm-5">
        <div class = "input-group">
            <label class = "input-group-addon">Name:</label>
            <input type = "text" spellcheck="false" autocomplete="off" placeholder = "Name"  class = "form-control" />
        </div>
    </div>
</div>