    <div class="row">
        <div class="col-sm-7">
            <div class="input-group">
                <label for="song-url1" class="input-group-addon">Song URL: </label>
                <input type="text" spellcheck="false" autocomplete="off" id="song-url1" placeholder="Song URL"
                    class="form-control song-url" />
            </div>
        </div>
        <div class="col-sm-5">
            <div class="input-group">
                <label for="name1" class="input-group-addon">Name: </label>
                <input type="text" spellcheck="false" autocomplete="off" id="name1" placeholder="Name"
                    class="form-control song-name" />
            </div>
        </div>
    </div>
