<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-4">
            <img width="200" height="200" alt="album">
            <button id="play-pause"><i class="fa fa-pause"></i></button>
        </div>
        <div class="col-sm-8 col-xs-8 container">
            <div class="row">
                <audio controls></audio>
            </div>
            <div class="row">
                <h4></h4>
            </div>
            <div class="row">
                <ol></ol>
            </div>
        </div>
    </div>
</div>

<button id="remove-songs"><i class="fa fa-times"></i></button>
<button id="edit-songs"><b class="fa fa-pencil"></b></button>
